@import url('https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.8/index.css');

/* admin-dashboard.css */

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  
  aside {
    width: 250px; /* Define a largura do menu */
    background-color: #f5f5f5; /* Cor de fundo para o menu */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para separar visualmente */
  }

  aside, ul {
    list-style-type: none;
  }
  aside, ul, li, a {
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    flex: 1;
    padding: 40px;
    background-color: #fff; 
  }
  